[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/almeja/Desktop/Dedicated Server.lnk]
row=4
col=0

[/home/almeja/Desktop/settings.desktop]
row=2
col=1

[/home/almeja/Desktop/userfiles.desktop]
row=1
col=1

[/home/almeja/Desktop/computer.desktop]
row=0
col=1

[/home/almeja/Desktop/helpmanual.desktop]
row=3
col=1

[/home/almeja/Desktop/images]
row=8
col=0

[/home/almeja/Desktop/network.desktop]
row=4
col=1

[/home/almeja/Desktop/Counter Strike 1.6 No Steam.lnk]
row=5
col=0

[/home/almeja/Desktop/pseint.desktop]
row=7
col=0

[/home/almeja/Desktop/steam.desktop]
row=6
col=0

[/home/almeja/Desktop/Counter Strike 1.6 No Steam.desktop]
row=5
col=1

[/home/almeja/Desktop/Dedicated Server.desktop]
row=6
col=1

[Moto C]
row=7
col=1

[668A39DF8A39AC85]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/almeja]
row=3
col=0

