[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/etc/skel/Desktop/userfiles.desktop]
row=1
col=0

[/etc/skel/Desktop/network.desktop]
row=2
col=0

[/etc/skel/Desktop/helpmanual.desktop]
row=5
col=0

[/etc/skel/Desktop/recyclebin.desktop]
row=4
col=0

[/etc/skel/Desktop/computer.desktop]
row=0
col=0

[/etc/skel/Desktop/settings.desktop]
row=3
col=0

