[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/linux/Desktop/computer.desktop]
row=0
col=0

[/home/linux/Desktop/settings.desktop]
row=3
col=0

[/home/linux/Desktop/userfiles.desktop]
row=2
col=0

[/home/linux/Desktop/network.desktop]
row=4
col=0

[/home/linux/Desktop/helpmanual.desktop]
row=1
col=0

[Trash]
row=0
col=1

